html {
	// font-family: $prox;
	// font-family: $bitter;
	font-size: 1rem;

	@media (max-width: 1380px) {
		font-size: 0.88rem;
	}
	@include bp(desktop) {
		font-size: 0.8rem;
	}
	@include bp(M) {
		font-size: 0.7rem;
	}
	@include bp(S) {
		font-size: 0.55rem;
	}
}

body {
	font-family: $prox;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.44;
	letter-spacing: -0.08px;
	color: $navy;
}
.large-headline .elementor-heading-title {
	font-family: $bitter;
	font-size: rem(52px);
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: rem(3.12px);
	color: $navy;
	text-transform: uppercase;
}
.header {
	font-family: $bitter;
	font-size: rem(36px);
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: rem(2.16px);
	color: $navy;
	text-transform: uppercase;
}

.subhead-1 {
	font-family: $bitter;
	font-size: rem(22px);
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.27;
	letter-spacing: rem(1.32px);
	color: $navy;
	text-transform: uppercase;
}
.subhead-2 {
	font-family: $bitter;
	font-size: rem(22px);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.27;
	letter-spacing: rem(0.07px);
	color: $navy;
}

.overline {
	font-family: $prox;
	font-size: rem(12px);
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.5;
	letter-spacing: rem(1.2px);
	color: $accent;
}
.white,
.white .elementor-heading-title {
	color: white;
}

.nav-font {
	font-family: $prox;
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: 1.8px;
	text-align: left;
	color: white;
	text-transform: uppercase;
}

.booking-font {
	font-family: $bitter;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.86;
	letter-spacing: 0.7px;
	text-align: left;
	color: #7f7f7f;
	text-transform: uppercase;
}

.static-cta {
	font-family: $prox;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.86;
	letter-spacing: 2.1px;
	text-align: left;
	color: white;
	text-align: left;
	text-transform: uppercase;
	background-color: transparent;
}
#static-cta .elementor-button {
	color: #9f3926;
	// font-family: $lEX;
	font-family: $prox;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.86;
	letter-spacing: 2.1px;
	text-align: left;
	color: #9f3926;
	text-align: left;
	text-transform: uppercase;
	background-color: transparent;
	overflow: hidden;
	.elementor-button-icon {
		margin-left: 0px;
	}
	&:after {
		content: '';
		border-bottom: 1px solid #9f3926;
		width: 100%;
		display: block;
		// border-bottom: 1px solid $cta-accent;
		transition: $hover;
	}
	&:hover {
		&:after {
			transform: translateX(95%);
		}
	}
	i {
		// transform: rotate(-45deg);
	}
}

.arrow-right {
	width: 12px;
	height: 12px;
	background-size: contain;
	display: inline-block;
	// content: '';
	background-image: url('/wp-content/uploads/2022/09/Arrow-Right.svg');
}
