html {
	// font-family: $prox;
	// font-family: $bitter;
	font-size: 1rem;

	// @media (max-width: 1380px) {
	// 	font-size: 0.88rem;
	// }
	// @include bp(desktop) {
	// 	font-size: 0.8rem;
	// }
	@include bp(test1) {
		font-size: 0.9rem;
	}
	@include bp(M) {
		font-size: 0.8rem;
	}
	@include bp(S) {
		// font-size: 0.55rem;
		font-size: 0.7rem;
	}
}

body {
	font-family: $prox;
	font-size: rem(16px);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.44;
	letter-spacing: -0.08px;
	color: $navy;
	@include bp(S) {
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: -0.06px;
	}
}
.large-headline .elementor-heading-title {
	font-family: $bitter;
	font-size: rem(52px);
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: 3.12px;
	color: $navy;
	text-transform: uppercase;
	@include bp(S) {
		font-size: 24px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.46;
		letter-spacing: 1.44px;
	}
}
.header {
	font-family: $bitter;
	font-size: rem(36px);
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: 2.16px;
	color: $navy;
	text-transform: uppercase;
}

.subhead-1 {
	font-family: $bitter;
	font-size: rem(22px);
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.27;
	letter-spacing: 1.32px;
	color: $navy;
	text-transform: uppercase;
	@include bp(S) {
		font-size: 18px;
		letter-spacing: 0.9px;
	}
}
.subhead-2 {
	font-family: $bitter;
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.27;
	letter-spacing: 0.07px;
	color: $navy;
}

.overline {
	font-family: $prox;
	font-size: rem(12px);
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.5;
	letter-spacing: 1.2px;
	color: $accent;
}
.white,
.white .elementor-heading-title {
	color: white;
}

.nav-font {
	font-family: $prox;
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: 1.8px;
	text-align: left;
	color: white;
	text-transform: uppercase;
}

.booking-font {
	font-family: $bitter;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.86;
	letter-spacing: 0.7px;
	text-align: left;
	color: #7f7f7f;
	text-transform: uppercase;
}

.body-copy-small {
	font-size: 14px;
	font-family: $prox;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.29;
	letter-spacing: -0.07px;
	@include bp(S) {
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: -0.06px;
	}
}

.static-cta,
#static-cta .elementor-button {
	// font-family: $lEX;
	font-family: $prox;
	font-size: rem(14px);
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.86;
	letter-spacing: 2.1px;
	text-align: left;
	color: #9f3926;
	text-align: left;
	text-transform: uppercase;
	background-color: transparent;
	overflow: hidden;
	display: inline-block;
	.elementor-button-icon {
		margin-left: 0px;
	}
	&:after {
		content: '';
		border-bottom: 1px solid #9f3926;
		width: 100%;
		display: block;
		// border-bottom: 1px solid $cta-accent;
		transition: $hover;
		margin-top: 5px;
	}
	&:hover {
		&:after {
			transform: translateX(calc(100% - 15px));
		}
	}
	&.teal {
		color: #83afba;
		&:after {
			border-bottom: 1px solid #83afba;
		}
	}
	@include bp(S) {
		font-size: 10px;
		line-height: 1.2;
		letter-spacing: 1.5px;
	}
}
.button-style {
	width: 100%;
	height: 50px;
	border-radius: 25px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background-color: #9f3926;
	border: none;
	font-family: $prox;
	font-size: rem(14px);
	// font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 2.1px;
	// text-align: left;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	@include bp(S) {
		height: 39px;
		font-size: 10px;
		line-height: 1.2;
		letter-spacing: 1.5px;
	}
}
.arrow-right {
	// width: 12px;
	// height: 12px;
	// background-size: contain;
	display: inline-block;
	// content: '';
	// background-image: url('/wp-content/uploads/2022/09/Arrow-Right.svg');
	&:after {
		font-family: 'Font Awesome 5 Free';
		font-weight: 100;
		content: '\f061';
	}
}

#button-style {
	width: auto !important;
	.elementor-button {
		@extend .button-style;
		display: flex;
		align-items: center;
		justify-content: center;
		.elementor-button-text {
			@extend .arrow-right;
		}
	}
}
