html {
	// font-family: $prox;
	// font-family: $bitter;
	font-size: 1rem;

	@media (max-width: 1380px) {
		font-size: 0.88rem;
	}
	@include bp(desktop) {
		font-size: 0.8rem;
	}
	@include bp(M) {
		font-size: 0.7rem;
	}
	@include bp(S) {
		font-size: 0.55rem;
	}
}

body {
	font-family: $prox;
	font-size: rem(16px);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.44;
	letter-spacing: -0.08px;
	color: $navy;
}
.large-headline .elementor-heading-title {
	font-family: $bitter;
	font-size: rem(52px);
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: rem(3.12px);
	color: $navy;
	text-transform: uppercase;
}
.header {
	font-family: $bitter;
	font-size: rem(36px);
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: rem(2.16px);
	color: $navy;
	text-transform: uppercase;
}

.subhead-1 {
	font-family: $bitter;
	font-size: rem(22px);
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.27;
	letter-spacing: rem(1.32px);
	color: $navy;
	text-transform: uppercase;
}
.subhead-2 {
	font-family: $bitter;
	font-size: rem(22px);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.27;
	letter-spacing: rem(0.07px);
	color: $navy;
}

.overline {
	font-family: $prox;
	font-size: rem(12px);
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.5;
	letter-spacing: rem(1.2px);
	color: $accent;
}
.white,
.white .elementor-heading-title {
	color: white;
}

.nav-font {
	font-family: $prox;
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: 1.8px;
	text-align: left;
	color: white;
	text-transform: uppercase;
}
