$mobile_header: 70px;
$extra-light: 200;
$light: 300;
$norm: 400;
$med: 500;
$bold: 700;
$extra-bold: 800;
$libra: "Libre Baskerville", serif;
$lEX: "Lexend Exa", sans-serif;
$black: #050303;
$cta-accent: #b32e26;
$grey-1: #292929;
$grey-2: #737272;
$grey-3: #bebebe;
$hover: all 300ms ease-in;
$html-font-size: 16px;
$container: 90%;
$mobile: 72px;

$button-height: rem(55px);
$button-height-small: 34px;
// $desktop: 19%;
$desktop: rem(205px);
// $accent-overlay: #B32E26 @ 75%;
