$extra-light: 200;
$light: 300;
$norm: 400;
$med: 500;
$bold: 700;
$extra-bold: 800;

$red: #9f3926;
$navy: #3b434e;
$accent: #83afba;

$hover: all 300ms ease-in;
$html-font-size: 16px;

$prox: proxima-nova, sans-serif;
$bitter: 'Bitter', serif;
