
$animationTiming: cubic-bezier(0.425, 0.005, 0, 1);
$introDelay: 2.2s;
$introDuration: 1s;
$introPageShift: 1.3s;
$introTotalTime: $introDelay + $introDuration;

.moveUp {
	transform: translateY(40%);
	opacity: 0;
	transition: all 1s cubic-bezier(0.25, 0, 0.25, 1.01);
	&.in-viewport {
		transform: translateY(0%);
		opacity: 1;
	}
}
.moveUpViewport {
	transform: translateY(40%);
	opacity: 0;
	transition: all 1s cubic-bezier(0.25, 0, 0.25, 1.01);
	.hh-in-view & {
		transform: translateY(0%);
		opacity: 1;
	}
}
.moveUpGrow {
	overflow: hidden;

	position: relative;
	@extend .moveUp;
	&:after {
		background: white;
		content: '';
		top: 0;
		height: 100%;
		left: 0;
		position: absolute;
		width: 100%;
		transform: translateY(0%);
		transition: transform 1s cubic-bezier(0.6, 0.19, 0.07, 1);
	}
}


.opacityUp {
	opacity: 0;
	transform: translate3d(0, 20px, 0);
	transition: transform 1s cubic-bezier(0, 0.68, 0.41, 0.98), opacity 0.8s ease-in;
	.in-viewport & {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(1);
	}
}

.borderDraw {
	overflow: hidden;
	&:after {
		transform: translateX(-100%);
		transition-duration: 600ms;
		transition-timing-function: cubic-bezier(0, 0.68, 0.41, 0.98);
		transition-property: transform;
		left: 0;
		transition-delay: 700ms;
		.in-viewport & {
			transform: translateX(0%);
		}
	}
}

.borderDrawViewport {
	overflow: hidden;
	&:after {
		transform: translateX(-100%);
		transition: transform 400ms ease-in-out;
		left: 0;
		.hh-in-view & {
			transform: translateX(0%);
		}
	}
}
.slideLeft {
	opacity: 0;
	transform: translateX(10%);
	transition: transform 0.7s cubic-bezier(0.24, 0, 0.33, 0.99), opacity 1s ease-in;
	.animate-in & {
		transform: translateX(0%);
		opacity: 1;
	}
}

.faq-section {
	opacity: 0;
	transform: translate3d(0, 50px, 0);
	transition: transform 1s cubic-bezier(0, 0.68, 0.41, 0.98), opacity 0.8s ease-in;
	&.in-viewport {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(1);
	}
}
.copy-block.center-form {
	.elementor-widget-wrap > .elementor-element:not(:first-child) {
		@include staggerAnimation(10, 600, 100);
		@extend .opacityUp;
	}
}
.animate-in {
	.moveUp {
		opacity: 1;
		transform: translateY(0);
	}
	.moveUpGrow {
		@extend .moveUp;
		&:after {
			transform: translateY(100%);
		}
	}
	.opacity {
		opacity: 1;
	}
	&.home {
		#site-header.hh-header {
			.borderDraw:after {
				transform: translateX(0%);
			}
			.moveUp {
				opacity: 1;
				transform: translateY(0);
			}
			.elementor-container {
				.elementor-nav-menu > li {
					opacity: 1;
					transform: translate3d(0px, 0px, 0px);
				}
			}
		}
	}
}

.revealAnimation {
	&:after {
		content: '';
		background: linear-gradient(157deg, rgba(255, 255, 255, 0) 7%, rgba(255, 255, 255, 0.61) 47%, #ffffff 54%);
		position: absolute;
		width: 500px;
		left: 0;
		top: 0;
		height: 500px;
		opacity: 1;
	}
}
.animate-ready {
	.revealAnimation {
		&:after {
			opacity: 0;
			animation: gradientChange $introDuration forwards ease 100ms;
			transition: opacity 300ms ease (100ms + $introDuration);
		}
	}
}


@keyframes kenBurns {
	from {
		opacity: 1;
		transform: scale3d(1.07, 1.07, 1.07);
	}
	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}
.landing-page-hero,
#break-out-hero {
	overflow: hidden;
	.elementor-widget-wrap {
		opacity: 0;
		transform: scale3d(1.07, 1.07, 1.07);
		transform-origin: center center;
		transition: opacity 1s ease-in, transform 1s ease;
	}
	.animate-in & {
		.elementor-widget-wrap {
			opacity: 1;
			transform: scale3d(1, 1, 1);
		}
	}
}

.trail-items {
	> li {
		@include staggerAnimation(10, 100, 80);
		@extend .slideLeft;
	}
}

.eyebrow {
	.elementor-widget-container,
	span {
		opacity: 0;
		transition: opacity 0.7s ease 100ms;
		.in-viewport & {
			opacity: 1;
		}
	}
	@extend .borderDraw;
	&:after {
	}
}

.opacity {
	opacity: 0;
	transition: opacity 1s cubic-bezier(0.42, 0, 0.58, 1);
	.in-viewport & {
		opacity: 1;
	}
}

#break-out-template {
	#breakout-gallery {
		&.el-in-view {
			opacity: 0;
			transition: opacity 1s cubic-bezier(0.42, 0, 0.58, 1) 400ms;
		}
		.animate-in & {
			opacity: 1;
		}
		&.in-viewport {
			opacity: 1;
		}
	}
	.copy-side.el-in-view {
		.elementor-widget-wrap > .elementor-element:not(:first-child) {
			@include staggerAnimation(10, 500, 80);
			opacity: 0;
			transform: translate3d(0, 20px, 0);
			transition: transform 1s cubic-bezier(0, 0.68, 0.41, 0.98), opacity 0.8s ease-in;
		}

		&.animate-ready.elementor-widget-wrap > .elementor-element:first-child {
			opacity: 1;
			transform: translate3d(0, 0, 0) scale(1);
		}
		&.in-viewport .elementor-widget-wrap > .elementor-element:not(:first-child) {
			opacity: 1;
			transform: translate3d(0, 0, 0) scale(1);
		}
	}
}
#card {
	#shadow-pic {
		img {
			opacity: 0;
			transition: opacity 0.4s ease-in 400ms;
		}
		.elementor-widget-container:after,
		img {
		}
		.elementor-widget-container:after {
			transition: transform 0.8s cubic-bezier(0, 0.68, 0.41, 0.98) 800ms, opacity 0.8s ease-out 800ms;
			opacity: 0;
			transform: translate(rem(25px), rem(-25px));
		}
	}
	#copy {
		#button-style {
			opacity: 0;
			transform: translate3d(0, 20px, 0);
			transition: transform 1s cubic-bezier(0, 0.68, 0.41, 0.98) 1.4s, opacity 0.8s ease-in 1.4s;
		}
		.elementor-widget-container > *:not(.eyebrow) {
			@include staggerAnimation(5, 500, 150);
			opacity: 0;
			transform: translate3d(0, 20px, 0);
			transition: transform 1s cubic-bezier(0, 0.68, 0.41, 0.98), opacity 0.8s ease-in;
		}
	}
	&.in-viewport {
		#shadow-pic img,
		#shadow-pic .elementor-widget-container:after {
			opacity: 1;
			transform: translate(0, 0);
		}
		#copy #button-style,
		#copy .elementor-widget-container > *:not(.eyebrow) {
			opacity: 1;
			transform: translate3d(0, 0, 0) scale(1);
		}
	}
}
.intro-copy-block {
	.elementor-element {
		@include staggerAnimation(10, 200, 200);
		opacity: 0;
		transform: translate3d(0, 20px, 0);
		transition: transform 1s cubic-bezier(0, 0.68, 0.41, 0.98), opacity 0.8s ease-in;
	}

	.animate-in & {
		.elementor-element {
			opacity: 1;
			transform: translate3d(0, 0, 0) scale(1);
		}
	}
}

$color: white;
@keyframes border {
	0% {
		box-shadow: 60px -60px 0 4px $color, -60px -60px 0 4px $color, -60px 60px 0 4px $color, 60px 60px 0 4px $color, 0 0 0 4px #e94e3d;
	}
	25% {
		box-shadow: 0 -125px 0 4px $color, -60px -60px 0 4px $color, -60px 60px 0 4px $color, 60px 60px 0 4px $color, 0 0 0 4px #fff;
	}
	50% {
		box-shadow: 0 -125px 0 4px $color, -125px 0px 0 4px $color, -60px 60px 0 4px $color, 60px 60px 0 4px $color, 0 0 0 4px #fff;
	}
	75% {
		box-shadow: 0 -125px 0 4px $color, -125px 0px 0 4px $color, 0px 125px 0 4px $color, 60px 60px 0 4px $color, 0 0 0 4px #fff;
	}
	100% {
		box-shadow: 0 -125px 0 4px $color, -125px 0px 0 4px $color, 0px 125px 0 4px $color, 120px 40px 0 4px $color, 0 0 0 4px #fff;
	}
}
