.block-cta {
	display: flex;
	.elementor-button {
		@extend .nav-button;
		text-align: left;
		height: rem(55px);
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 220px;
		background-color: $cta-accent;
		color: white;
		padding: rem(10px) rem(30px);
		border-radius: 0px;
		.elementor-align-icon-right {
			margin-left: rem(20px);
		}
		&:hover {
			background-color: white;
			border: 1px solid $cta-accent;
			color: $cta-accent;
		}
		@include bp(M) {
			height: $button-height-small;
			min-width: 154px;
		}
	}
}
.elementor-button span {
	white-space: nowrap;
	&:hover {
		cursor: pointer;
	}
}

.static-cta .elementor-button {
	color: $cta-accent;
	font-family: $lEX;
	font-size: rem(16px);
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: rem(29px);
	letter-spacing: -0.16px;
	text-align: left;
	text-transform: uppercase;
	background-color: transparent;
	overflow: hidden;
	.elementor-button-icon {
		margin-left: rem(20px);
	}
	&:after {
		content: '';
		border-bottom: 1px solid #b32e26;
		width: 100%;
		display: block;
		border-bottom: 1px solid $cta-accent;
		transition: $hover;
	}
	&:hover {
		&:after {
			transform: translateX(85%);
		}
	}
	i {
		transform: rotate(-45deg);
	}
}

.block-cta.cta-no-bg .elementor-button {
	background-color: none;
}
.block-cta-white .elementor-button {
	color: $cta-accent;
	background-color: white;
	&:hover {
		color: white;
		background-color: $cta-accent;
		border: 1px solid white;
	}
}

// .block-cta {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	// .elementor-button-content-wrapper{
// 	// }
// 	.elementor-button {
// 		background-color: $cta-accent;
// 		height: 55px;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		min-width: 220px;
// 		// padding: 10px 30px;
// 		transform: $hover;
// 		font-size: 14px;
// 		font-weight: 300;
// 		color: white;

// 		&:hover{
// 			background-color: white;
// 			border: 1px solid $cta-accent;
// 			color:$cta-accent;
// 		}
// 	}
// 	&.block-cta-white{
// 		color: $cta-accent;
// 		background-color: white;
// 	}
// }
// .cta-no-bg{
// 	background-color: none;
// }

// .et_pb_button {
// 	font-family   : $gotham;
// 	text-transform: capitalize;
// 	color         : white!important;
// 	border        : none!important;
// 	border-radius : 0;
// 	@extend .heading6;
// 	font-weight   : bold;
// 	padding       : 0.35em 1.3em 0.2em;

// 	&:hover {
// 		padding: 0.35em 1.3em 0.2em !important;
// 	}

// 	&.et_pb_bg_layout_light {
// 		background-color: $navy !important;
// 	}

// 	&.et_pb_bg_layout_dark {
// 		background-color: $orange !important;
// 	}

// 	&:hover {
// 		&.et_pb_bg_layout_light {
// 			background-color: $orange !important;
// 		}

// 		&.et_pb_bg_layout_dark {
// 			background-color: $navy !important;
// 		}

// 		&:after {
// 			opacity: 0;
// 		}
// 	}

// 	&.btn_border {
// 		&.et_pb_bg_layout_light {
// 			background-color: $navy!important;
// 			// border:2px solid $orange!important;
// 		}

// 		&.et_pb_bg_layout_dark {
// 			background-color: $orange!important;
// 			// border:2px solid $navy!important;
// 		}

// 		&:hover {
// 			padding: 0.35em 1.3em 0.2em;

// 			&.et_pb_bg_layout_light {
// 				background-color: white!important;
// 				// border:2px solid $navy!important;
// 				color           : $navy!important;
// 			}

// 			&.et_pb_bg_layout_dark {
// 				background-color: white!important;
// 				color           : $orange!important;
// 				// border:2px solid $orange!important;
// 			}
// 		}
// 	}
// }
