#copy-block {
	text-align: center;
	margin: auto;
	width: 90%;
	max-width: 950px;
	.carrot {
		margin-top: auto;
		margin-bottom: rem(80px);
		@include bp(S) {
			margin-bottom: 10px;
		}
		.elementor-icon {
			font-size: rem(16px);
			color: $cta-accent;
		}
	}
	&.left {
		max-width: 1364px;
	}

	// .nav-button {
	// 	margin-top: rem(114px);
	// }
	p,
	.elementor-heading-title {
		text-align: center;
	}
	.elementor-widget-wrap {
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.headline {
		margin: rem(43px) auto rem(36px);
	}
	.block-cta {
		margin-top: rem(60px);
		justify-content: center;
		// max-width: 275px;
		button {
			// max-width: 275px;

			&:hover {
				color: $cta-accent !important;
				i {
					color: $cta-accent;
				}
			}
		}
	}
	.title-text {
		margin-bottom: rem(20px);
		.elementor-heading-title {
			color: $cta-accent;
		}
	}
	&.left {
		// margin-left: 5%;
		.elementor-column {
			max-width: 674px;
		}
		p,
		.elementor-heading-title {
			text-align: left;
		}
		.eyebrow {
			margin-right: auto;
		}
		.block-cta {
			justify-content: flex-start;
		}
	}
	&.left-full {
		@include inner-container;
		margin-top: rem(130px);
		max-width: 843px;
		width: 80%;
		.headline {
			margin: 0px auto rem(30px);
		}
		.border-bottom {
			p {
				font-size: rem(16px);
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: rem(25px);
				letter-spacing: -0.32px;
			}

			&:after {
				content: '';
				max-width: rem(581px);
				width: 50%;
				height: rem(10px);
				background-color: #b32e26;
				display: block;
				margin-top: rem(88px);
			}
		}
		p,
		.elementor-heading-title {
			text-align: left;
		}

		.small-copy-block {
			margin-top: rem(54px);
			&:last-of-type {
				margin-top: rem(154px);
			}
			p {
				font-size: rem(14px);
				font-weight: 300;
				line-height: 2.29;
				letter-spacing: -0.28px;
				text-align: left;
				color: #050303;
			}
			.eyebrow-light {
				margin-bottom: 7px;
				.elementor-heading-title {
					font-weight: normal;
					line-height: 1.75;
				}
			}
		}
	}
	&.arrow-down-sub {
		max-width: 1200px;
		.carrot {
			// margin-top: auto;
			margin-top: rem(36px);
			margin-bottom: rem(46px);
			// @include bp(S) {
			// 	margin-top: 10px;
			// 	// margin-bottom: 10px;
			// }
		}
		+ .first-divider-margin {
			margin-bottom: rem(80px);
		}
	}

	&.center-form {
		overflow: hidden;
		height: rem(770px);
		padding-top: rem(150px);
		@include bp(M) {
			padding-top: rem(100px);
		}
		@include bp(S) {
			padding-top: 40px;
		}
		.margin-auto-top {
			margin-top: auto;
		}
		// .elementor-widget:not(:last-child) {
		//   margin-bottom: 0px;
		// }
		.elementor-container.elementor-column-gap-default {
			height: 100%;
		}
		.elementor-widget-wrap {
			display: flex;
			height: 100%;
		}
		.eyebrow-med {
			margin-bottom: 0px;
		}
		.headline {
			margin: rem(30px) auto rem(30px);
		}
		.sub-copy-2 {
			margin-top: rem(60px);
		}
	}
	#social-icons {
		margin-bottom: 20px;
		--e-icon-list-icon-size: 14px;
		margin-top: rem(42px);
		li:not(:last-of-type) {
			margin-right: rem(15px);
		}
		.elementor-icon-list-icon i {
			width: 28px;
			height: 28px;
			border: 1px solid $cta-accent;
			color: $cta-accent;
			border-radius: 100%;
			position: relative;
			&:before {
				@include vh_center;
			}
		}
	}
}
