#cta-screen {
	display: flex;
	padding-bottom: 48%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	margin-top: 12px;
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
	&.img-only {
		padding-bottom: 60%;
	}
	.elementor-widget-wrap {
		align-items: center;
		justify-content: center;
		text-align: center;
		p {
			max-width: 523px;
			margin: rem(30px) auto;
			@include bp(S) {
				max-width: 100%;
				margin: 15px auto 24px;
			}
		}
	}
	.logo {
		width: 88.8px;
		margin-bottom: 32px;
		@include bp(S) {
			margin-bottom: 16px;
			width: 45.8px;
		}
	}
}

#cta-screen-block {
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	margin-top: 12px;
	// max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
	.elementor-widget-wrap {
		align-items: center;
		justify-content: center;
		text-align: center;
		border-top: solid 1px #83afba;
		padding: rem(60px) 0;
		.no-border {
			border-top: none;
		}
		p {
			max-width: 760px;
			width: 80%;
			margin: rem(30px) auto;
			@include bp(S) {
				max-width: 100%;
				margin: 15px auto 24px;
			}
		}
	}
	.s1 {
		color: $accent;
		font-weight: bold;
	}
	.logo {
		width: 45px;
		margin-bottom: 32px;
		@include bp(S) {
			margin-bottom: 16px;
		}
	}
}
