#hh-block-cta {
	padding-top: rem(114px);
	padding-bottom: rem(107px);
	padding-left: 5%;
	padding-right: 5%;

	.elementor-column {
		margin-right: rem(20px);
	}
	.block-cta {
		margin-left: auto;
		white-space: nowrap;
	}
	.block-cta-white .elementor-button:hover {
		background-color: transparent !important;
	}
	@include bp(M) {
		padding-top: rem(50px);
		padding-bottom: rem(50px);
		.elementor-column {
			margin: auto;
			width: 100%;
		}
		.block-cta {
			margin-right: auto;
		}
		.elementor-container {
			flex-direction: column;
		}
		.elementor-heading-title {
			text-align: center;
			margin-bottom: rem(55px);
		}
	}
}

.three-col-grid {
	@include container;
	margin-top: rem(130px);
	.headline {
		// background-color: #b32e26;
		&:after {
			margin-top: rem(48px);
			content: '';
			max-width: rem(339px);
			display: block;
			width: 80%;
			border-bottom: solid rem(10px) $cta-accent;
		}
		@include bp(desktop) {
			.elementor-heading-title {
				font-size: rem(40px);
			}
		}
	}
	.eyebrow-med {
		margin-top: rem(30px);
		margin-bottom: rem(16px);
	}
	.nav-button {
		text-align: left !important;
		margin-bottom: rem(40px);
		margin-top: 10px;
	}
	.static-cta {
		margin-top: 10px;
		margin-bottom: rem(73px) !important;
	}
	.elementor-container {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.elementor-col-33 {
		width: 32%;
		margin-right: 0;
		@include bp(S) {
			width: 100%;
			margin-bottom: rem(20px);
		}
	}
}
