.faq-section {
	margin-top: rem(170px);
	@include container;
	.eyebrow,
	.headline {
		padding-left: 12px;
	}
	.headline {
		margin-top: rem(30px);
	}
	.faq-toggle {
		&.active {
			opacity: 1;
			// visibility: visible;
			transition: opacity 800ms ease-in 100ms;
		}
		&:not(.active) {
			opacity: 0;
			margin: 0;
			height: 0;
			overflow: hidden;
			transition: none;
		}
	}
	.faq-toggle {
		.elementor-toggle-item {
			@include staggerAnimation(10, 300, 100);
			opacity: 0;
			transform: translate3d(0, 45px, 0);
			transition: transform 1s cubic-bezier(0, 0.68, 0.41, 0.98), opacity 0.8s ease-in;
		}
		&.active {
			.elementor-toggle-item {
				opacity: 1;
				transform: translate3d(0, 0, 0) scale(1);
			}
		}
	}
	.faq {
		margin-top: rem(70px);
		border-top: 1px solid #d4d4d4;
		.elementor-toggle-item {
			border-bottom: 1px solid #d4d4d4;
			.elementor-tab-title {
				@extend .faq-title;
				padding-top: rem(70px);
				padding-bottom: rem(70px);
				border-bottom: none;
				i {
					color: $cta-accent;
				}
			}
			.elementor-tab-content {
				padding-bottom: rem(70px);
			}
		}
	}
}

.custom-select2 {
	position: relative;
	display: none;
	select {
		display: none; /*hide original SELECT element: */
	}
	.select-selected2 {
		background-color: DodgerBlue;
	}

	/* Style the arrow inside the select element: */
	.select-selected2:after {
		position: absolute;
		content: '';
		top: 14px;
		right: 10px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: #fff transparent transparent transparent;
	}
	.select-selected2.select-arrow-active:after {
		border-color: transparent transparent #fff transparent;
		top: 7px;
	}

	/* style the items (options), including the selected item: */
	.select-items div,
	.select-selected2 {
		color: #ffffff;
		padding: 8px 16px;
		border: 1px solid transparent;
		border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		cursor: pointer;
	}

	/* Style items (options): */
	.select-items {
		position: absolute;
		background-color: DodgerBlue;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
	}

	/* Hide the items when the select box is closed: */
	.select-hide {
		display: none;
	}

	.select-items div:hover,
	.same-as-selected {
		background-color: rgba(0, 0, 0, 0.1);
	}
}

.cutsom-toggle {
	.customToggleSelect .elementor-widget-container {
		position: relative;
		width: 220.6px;
		@include bp(S) {
			margin: 10px auto 0;
		}
		&:before {
			display: inline-block;
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			color: #b32e26;
			font-size: 1rem;
			position: absolute;
			content: '\f107';
			z-index: 11;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
		}
		select:focus-visible {
			outline: none !important;
		}
		option,
		.select-selected,
		select {
			@extend .form-value;
			border: solid 1px #bebebe;
			height: rem(62.4px);
			background-color: white;
			position: relative;
			width: 100%;
			padding: 0px rem(46px);
		}
		label {
			position: absolute;
			left: rem(36px);
			min-width: 1px;
			@extend .form-value;
			text-align: left;
			color: #7b7b7b !important;
			background: white;
			display: inline-block;
			width: auto;
			padding: 0px 10px;
			top: -7px;
			z-index: 1;
		}
	}
	#customToggle {
		-moz-appearance: none; /* Firefox */
		-webkit-appearance: none; /* Safari and Chrome */
		appearance: none;
	}
}
