#hh-footer {
	// .elementor-message {
	// 	display: none;
	// }
	margin-top: rem(200px);
	background-color: $cta-accent;
	padding: rem(106px) 0rem rem(68px) 0rem;
	margin-bottom: 0px;
	//   padding-top: rem(106px);
	//   padding-bottom: rem(68px);
	@include bp(S) {
		margin-left: auto;
		margin-right: auto;
		padding: 40px 0rem 68px 0rem;
	}

	#top-footer {
		margin-bottom: rem(38px);
	}
	#button-footer {
		margin-top: rem(25px);
		@include bp(M) {
			.elementor-column {
				&.elementor-col-66 {
					width: 65%;
				}
				&.elementor-col-33 {
					width: 35%;
				}
			}
		}
		@include bp(S) {
			.elementor-column {
				&.elementor-col-66 {
					width: 100%;
				}
				&.elementor-col-33 {
					width: 100%;
				}
			}
		}
		.copyright .elementor-heading-title {
			font-family: Arial;
			font-size: 10px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 2;
			letter-spacing: normal;
			text-align: left;
			color: #fff;
		}
	}
	.elementor-container {
		width: 94%;
		max-width: 1817px;
		padding-left: 2vw;
		padding-right: 2vw;
		align-items: baseline;
		@include bp(S) {
			@include container;
			justify-content: center;
		}
	}
	.elementor-widget-image {
		max-width: 219px;
		@include bp(S) {
			margin: auto;
			max-width: 157px;
		}
	}
	.block-cta-white {
		margin-left: auto;
	}
	#footer-menu {
		width: 80%;
		margin-bottom: rem(65px);

		@include bp(S) {
			justify-content: center;
			margin: auto;
			width: 100%;
			ul {
				flex-direction: column;
				align-items: center;
				margin: auto;
			}
		}

		a {
			@extend .nav-button;
			color: white;
			margin-left: 0px;
			padding-right: rem(50px);
			padding-left: 0px;
			@include bp(S) {
				font-size: 11px;
				padding-right: 0px;
				line-height: 2.18;
				letter-spacing: 1.65px;
			}
		}
	}
	.elementor-column.elementor-col-80 {
		width: 100%;
	}
	#social-icons {
		width: 100%;
		margin-bottom: 20px;
		--e-icon-list-icon-size: 14px;
		li {
			margin-right: rem(15px);
		}
		i {
			width: 28px;
			height: 28px;
			border: 1px solid white;
			border-radius: 100%;
			position: relative;
			&:before {
				@include vh_center;
			}
		}
	}
	#forum-wrapper {
		// width: auto;
		margin-left: auto;
	}
	.mf-form-wrapper {
		margin-top: 0px;
	}
	#forum-label .elementor-heading-title {
		@extend .nav-button;
		color: white;
		text-align: right;
		margin-bottom: rem(24px);
		@include bp(S) {
			text-align: center;
			margin-top: rem(70px);
			margin-bottom: 18px;
			font-size: 9px;
		}
	}
	#forum-field {
		max-width: rem(330px);
		margin-left: auto;
		.elementor-container {
			width: 100%;
			padding: 0;
		}
		@include bp(S) {
			// @include container;
			max-width: 215px;
			margin-bottom: 45px;
			margin-left: auto;
			margin-right: auto;
			.elementor-form {
				display: flex;
				justify-content: center;
			}
			// .elementor-widget-mf-email {
			// 	width: 80%;
			// }
			#mf-input-email {
			}
			.elementor-widget-mf-button {
			}
		}
		.elementor-widget-mf-email {
			width: 100%;
		}
		// 	.elementor-widget-wrap {
		// 		flex-wrap: nowrap;
		// 		display: flex;
		// 		margin-bottom: rem(24px);
		// 		height: rem(55px);
		// 		align-items: center;
		// 		@include bp(S) {
		// 			height: 36px;
		// 		}
		// 		#form-field-email input {
		// 			font-family: $lEX;
		// 			color: white;
		// 			font-size: rem(12px);
		// 			font-weight: 300;
		// 			font-stretch: normal;
		// 			font-style: normal;
		// 			line-height: rem(29px);
		// 			letter-spacing: -0.12px;
		// 			text-align: left;
		// 			background: $cta-accent;
		// 			border: solid 1px #fff;
		// 			@include bp(S) {
		// 				min-height: 36px;
		// 				font-size: 9px;
		// 				min-width: 183.5px;
		// 			}
		// 		}
		// 		#forum-submit {
		// 			color: $cta-accent;
		// 			border-radius: 0px;
		// 			background-color: white;
		// 			max-width: rem(60px);
		// 			font-size: rem(14px);
		// 			font-weight: 300;
		// 			text-transform: uppercase;
		// 			@include bp(S) {
		// 				min-height: 36px;
		// 				width: 40px;
		// 				font-size: 8px;
		// 				padding: 0px;
		// 			}
		// 		}
		// 	}
		// }
		.elementor-widget-wrap {
			flex-wrap: nowrap;
			display: flex;
			margin-bottom: rem(24px);
			height: rem(55px);
			align-items: center;
			@include bp(S) {
				height: 36px;
			}
			#form-field-email input {
				background: $cta-accent;
				border: solid 1px #fff;
				// font-family: $lEX;
				// color: white;
				// font-size: rem(12px);
				// font-weight: 300;
				// font-stretch: normal;
				// font-style: normal;
				// line-height: rem(29px);
				// letter-spacing: -0.12px;
				// text-align: left;
				height: rem(55px);
				line-height: unset;
				color: white;
				&::placeholder {
					font-family: $lEX;
					color: white;
					font-size: rem(12px);
					font-weight: 300;
					font-stretch: normal;
					font-style: normal;
					line-height: rem(29px);
					letter-spacing: -0.12px;
					text-align: left;
				}
				@include bp(S) {
					min-height: 36px;
					font-size: 9px;
					min-width: 183.5px;
				}
			}
			.mf-error-message {
				display: none;
			}
			#forum-submit {
				// padding: 0px;
				.elementor-widget-container {
					height: 100%;
					width: 100%;
				}

				display: flex;
				align-items: center;
				justify-content: center;
				max-width: rem(60px);

				.metform-btn {
					padding: 0px;
					color: $cta-accent;
					border-radius: 0px;
					background-color: white;
					max-width: rem(60px);
					height: rem(55px);
					// height: 100%;
					width: 100%;
					font-size: rem(14px);
					font-weight: 300;
					text-transform: uppercase;
					@include bp(S) {
						min-height: 36px;
						width: 40px;
						font-size: 8px;
						padding: 0px;
					}
				}

				@include bp(S) {
					min-height: 36px;
					width: 40px;
					font-size: 8px;
					padding: 0px;
				}
			}
		}
	}
}
