.form-value {
	font-family: $lEX;
	font-size: rem(14px);
	font-weight: 300;
	line-height: rem(25px);
	letter-spacing: -0.28px;
}
.hh-forum-multi-wrapper,
.hh-forum-submission {
	@include inner-container;
	.mf-error-message {
		display: none;
	}

	.mf_select__single-value {
		@extend .form-value;
	}
	button.metform-btn,
	button.metform-btn:not(.toggle) {
		@extend .nav-button;
		text-align: left;
		height: rem(55px);
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: rem(220px);
		width: 100%;
		max-width: rem(275px);
		background-color: $cta-accent;
		color: white;
		padding: rem(10px) rem(30px);
		border-radius: 0px;
		margin-left: auto;
		position: relative;
		i {
			position: absolute;
			right: rem(30px);
			// transform: tranlsate(-rem(10px));
		}
		span {
			margin-left: auto;
			margin-right: auto;
		}
		&:hover {
			background-color: white;
			border: 1px solid $cta-accent;
			color: $cta-accent !important;
			i {
				color: $cta-accent !important;
			}
		}
		@include bp(M) {
			height: $button-height-small;
			// min-width: 154px;
		}
	}
	.eyebrow-light {
		margin-bottom: rem(20px);
		margin-right: 20px;
	}
	.mf-form-wrapper {
		// max-width: 906px;
		// margin-left: auto;
	}
	form {
		.elementor-section .elementor-container {
			//   max-width: 906px;
			justify-content: space-between;
			flex-wrap: nowrap;
			@include bp(S) {
				flex-wrap: wrap;
			}
			.elementor-col-50 {
				width: 48%;
			}
		}
	}
	.elementor-col-33 {
		width: 31%;
		@include bp(S) {
			width: 100%;
		}
	}

	.elementor-1185 .elementor-element.elementor-element-8560476 {
		width: 38%;
	}
	.bottom-text {
		margin-top: rem(50px);
	}
	// .elementor-widget-heading ~ .elementor-widget-mf-textarea {
	// 	margin-top: 100px;
	// }
	.mf-file-name span,
	p {
		@extend .form-value;
		text-align: left;
		color: #7b7b7b !important;
	}
	.mf-input-wrapper {
		position: relative;
		// height: rem(62.4px);
		margin-bottom: rem(60px);
		.mf-input {
			@extend .form-value;
			box-shadow: 0 0 0px 1000px white inset;
		}

		.mf-textarea,
		.mf-input-select .mf_select__control {
			padding: 0px;
			background: white;
			border: solid 1px #bebebe;
		}
		label:not(.mf-input-file-upload-label) {
			z-index: 20;
			position: absolute;
			left: rem(36px);
			min-width: 1px;
			@extend .form-value;
			text-align: left;
			color: #7b7b7b !important;
			background: white;
			display: inline-block;
			width: auto;
			padding: 0px 10px;
			top: -7px;
			.mf-input-required-indicator {
				font-weight: 300;
				color: #7b7b7b !important;
			}
		}
		input:not(.mf-input-file-upload) {
			border: solid 1px #bebebe;
			height: rem(62.4px);
			background-color: white;

			&:focus {
				border: solid 1px #bebebe !important;
				background-color: white !important;
			}
		}
		.mf-input[aria-invalid='true'] {
			border-color: $cta-accent !important;
		}
		.mf-input.mf-invalid {
			.mf_select__control {
				border-color: $cta-accent !important;
			}
		}
		.mf-input.mf-textarea {
			padding: 10px !important;
		}
	}

	// File upload
	.mf-file-upload-container {
		input {
		}
		.mf-file-name {
			margin-top: 10px;
		}
		label {
			@extend .nav-button;
			// text-align: left;
			border: solid 2px $cta-accent;
			height: rem(55px);
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: rem(220px);
			width: 100%;
			max-width: rem(310px);
			background-color: white;
			color: $cta-accent;
			padding: rem(10px) rem(14px);
			opacity: 1;
			&:hover {
				color: $cta-accent !important;
				opacity: 0.7;
				transform: $hover;
			}
			svg {
				margin-right: rem(15px);
			}
		}
	}

	.bottom-text-area {
		.mf-input-wrapper {
			margin-bottom: rem(36px);
		}
		+ .elementor-widget-heading {
			margin-bottom: rem(36px);
		}
	}

	// Select CSS
	.mf-input.mf-input-select {
		.mf_select__control {
			padding: 0px 12px;
			box-sizing: border-box;
			height: rem(62.4px);
			.mf_select__value-container {
				padding: 0;
			}
		}
		.mf_select__menu {
			z-index: 400;
		}
		.mf_select__indicator {
			border: none;
			position: relative;
			display: inline-block;
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			color: $cta-accent;
			font-size: 1rem;
			&:before {
				content: '\f107';
				// border-top: 1px solid
			}
		}
	}
}

.hh-forum-submission {
	margin-top: rem(222px);
	margin-bottom: rem(170px);
	.headline {
		margin-bottom: rem(180px);
	}
}

.mf-multistep-container .metform-form-content .elementor-top-section:not(.active) {
	// display: none;
	overflow: hidden;
}
.mf-form-wrapper,
.hh-forum-multi {
	margin-top: rem(140px);
	.headline {
		margin-bottom: rem(48px);
	}
}
.hh-forum-multi-wrapper {
	margin-top: rem(154px);
	margin-bottom: 0px;
	// margin-bottom: rem(140px);
	.headline {
		margin-bottom: rem(48px);
	}
	.hh-form:last-child .elementor-container {
		margin-top: rem(120px) !important;
	}

	.hh-mutli-step {
		.metform-steps {
			margin-top: 0px;
			.metform-step-item {
				height: rem(10px);
				background-color: #bebebe !important;
				width: 32%;
				border-radius: 0px;
				&.active {
					background: $cta-accent !important;
				}
				&:nth-child(2) {
					margin-left: auto;
					margin-right: auto;
				}
			}
			.metform-step-title {
				display: none;
			}
		}
		.step p {
			text-align: center;
		}
	}
	.margin-right {
		margin-right: rem(27px);
		@include bp(S) {
			margin-right: 0px;
		}
	}
	.margin-left {
		margin-left: rem(27px);
		@include bp(S) {
			margin-left: 0px;
		}
	}
	.button-next {
		@include bp(S) {
			.elementor-column:not(:first-child) {
				width: 50%;
			}
			.elementor-column:first-child {
				display: none;
			}
		}
	}
	.top-section {
		.nav-button {
			margin-bottom: rem(130px);
			.elementor-heading-title {
				color: $cta-accent !important;
			}
		}
	}
}

.mf-multistep-container .elementor-top-section {
	transition: opacity 1s ease-in-out 0.8s, transform 1s ease 0.8s !important;
}
.mf-multistep-container .metform-form-content .elementor-section-wrap {
	transition-delay: 2s;
	transition-property: opacity;
	transition-duration: 2s;
	transition: opacity 1s ease-in-out 0.5s, transform 1s ease 0.5s !important;
}

.mf-main-response-wrap .mf-response-msg {
	border: none !important;
	p {
		@extend .form-value;
	}
}
