.hero {
	height: 659px;
	position: relative;
	@include bp(S) {
		height: 100vh;
	}
	.elementor-inner-section {
		max-width: 1440px;
		margin: auto;
	}
	.elementor-container {
		position: absolute;
		bottom: -1px;
		width: 100%;
		right: 0%;
	}
	.elementor-column.elementor-col-50 {
		@include bp(M) {
			width: 100%;
		}

		&:first-child .elementor-element {
			// max-width: rem(336px);
			// min-height: 105px;
			opacity: 0.9;
			background-color: $accent;
			margin-left: 5%;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			z-index: 2;
			@include bp(M) {
				left: 50%;
				transform: translateX(-50%);
				margin: auto;
			}
			@include bp(S) {
				max-width: 90%;
			}
		}
		&:last-child {
			// position: absolute;
			// bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0.85;
			background-color: #3b434e;
			min-height: 182px;
			padding: rem(30px);
			min-width: rem(700px);
			text-align: left;
			flex-direction: column;
			.elementor-widget-wrap {
				flex-direction: column;
				align-items: baseline;
				@include bp(M) {
					align-items: center;
				}
			}
			.elementor-widget-text-editor:last-child {
				max-width: 350px;
				.static-cta {
					margin-right: 20px;
					// @extend .arrow-right;
				}
			}
			@include bp(M) {
				position: absolute;
				bottom: 0;
				text-align: center;
				padding-bottom: 128px;
				.elementor-widget-wrap.elementor-element-populated {
					justify-content: center;
				}
			}
			@include bp(S) {
				min-width: auto;
				padding-top: 27px;
			}
			h2 {
				max-width: 639px;
				margin-left: auto;
				@include bp(M) {
					margin-right: auto;
				}
			}
		}
	}
	.current-weather {
		color: white;
		.current-weather-wrapper {
			font-family: $prox;
			font-size: 12px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			letter-spacing: 0.75px;
			@include bp(S) {
				text-align: center;
			}
		}
	}
	.static-link {
		margin-right: rem(20px);
	}
	&#winter {
		.elementor-column.elementor-col-50:first-child .elementor-element {
			max-width: auto;
		}
		.large-headline .elementor-heading-title {
			font-size: rem(33px);
		}
	}
}
