#bc-nav {
	// .elementor-nav-menu--dropdown-tablet .elementor-menu-toggle,
	// .elementor-nav-menu--dropdown-tablet .elementor-nav-menu--dropdown {
	// 	@include bp(M) {
	// 		display: flex !important;
	// 	}
	// }
	// .elementor-nav-menu--dropdown-tablet .elementor-nav-menu--main {
	// 	@include bp(M) {
	// 		display: none;
	// 	}
	// }
	background-color: transparent;
	display: flex;
	// height: $desktop;
	// .home & {
	// 	@include bp(MD) {
	// 		position: absolute;
	// 		top: 0;
	// 		left: 50%;
	// 		transform: translateX(-50%);
	// 	}
	// }
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 10;

	@include bp(M) {
		// height: $mobile;
		// position: relative;
	}
	.elementor-container {
		overflow: hidden;
		width: 94%;
		max-width: 1440px;
		// padding-left: 2vw;
		// padding-right: 2vw;
		// position: relative;
		// &:after {
		// 	content: '';
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 1px;
		// 	// background: $black;
		// 	bottom: 0;
		// }
		@include bp(M) {
			&:after {
				display: none;
			}
		}
	}
	.elementor-widget-nav-menu {
		margin-left: auto;
	}
	.elementor-container {
		// padding-bottom: rem(37.5px);
		// padding-top: rem(109px);
		padding-top: 30px;
		align-items: center;
		// align-items: start;
		@include bp(M) {
			padding-top: 0px;
			padding-bottom: 0px;
			height: 10vh;
			// align-items: center;
		}
	}
	//   logo
	.elementor-widget-theme-site-logo {
		text-align: left;
	}
	img {
		// width: rem(219px);
		width: 121px;
		height: 45px;
		// height: auto;
		// @include bp(M) {
		// 	width: 122px;
		// }
	}
	.elementor-324 .elementor-element.elementor-element-36b1d9f {
		margin-left: auto;
	}
	.elementor-menu-toggle {
		// width: 19px;
		// height: 11px;
		// background: transparent;
		// margin-top: rem(10px);
		i {
			// color: $black;
		}
	}
	i {
		color: white;
	}
	// .elementor-column {
	// 	@include bp(M) {
	// 		width: 50%;
	// 	}
	// }
	// .elementor-column:last-child {
	// 	@include bp(M) {
	// 		display: none;
	// 	}
	// }
	.elementor-nav-menu--dropdown,
	nav {
		opacity: 0;
		transition: 300ms ease;
		&[aria-hidden='false'] {
			// color: red;
			opacity: 1;
		}
		margin-left: auto;
		a {
			@extend .nav-font;
			// padding-left: rem(50px);
			// padding-right: 0px;
			// padding-top: rem(10px);
			// padding-bottom: 0;
			// // color: $black;
			// font-size: rem(14px);

			&:hover {
				transform: $hover;
				// color: $cta-accent;
				// font-weight: $med;
			}
		}
		@include bp(M) {
			position: fixed;
			// border-top: $black 1px solid;
			// top: $mobile;
			left: 0;
			right: 0;
			width: 100%;
			height: 90vh;
			margin-top: 0px !important;
			// background: white;
			z-index: 10;
			bottom: 0;
			top: 10vh !important;
			background: linear-gradient(transparent 0%, white 50%);
			a {
				margin-top: 5vh;
				color: $navy;
				background-color: transparent;
			}
		}
	}
}
