$height: 112px;

#bc-nav {
	background-color: white;
	display: flex;
	z-index: 1;
	// position: fixed;
	top: 0;
	width: 100%;
	.elementor-container {
		width: 97%;
		max-width: 1440px;
	}
	.elementor-widget-nav-menu {
		margin-left: auto;
	}
	.elementor-column {
		height: 100%;
	}
	.elementor-container {
		// padding-top: 30px;
		height: $height;
		align-items: center;
		// align-items: start;
		@include bp(M) {
			padding-top: 0px;
			padding-bottom: 0px;
		}
	}
	//   logo
	.elementor-widget-theme-site-logo {
		text-align: left;
	}
	img {
		width: 150px;
		height: 100%;
	}
	.elementor-324 .elementor-element.elementor-element-36b1d9f {
		margin-left: auto;
	}
	i {
		color: $navy;
		background-color: transparent;
	}
	.elementor-nav-menu--dropdown,
	nav {
		&[aria-hidden='false'] {
			// color: red;
			// opacity: 1;
		}
		margin-left: auto;
		a {
			&:hover {
				transform: $hover;
			}
		}
	}
	.main-item.first-link {
		margin: auto;
	}
	.main-item.first-link > a {
		@extend .nav-font;
		padding: 50px 10px;
		margin: 0 auto;
		color: #3b434e;
		@include bp(phone-tablet) {
			display: flex;
			color: $navy;
			padding: 20px 10px;
			justify-content: space-between;
			align-items: center;
			background-color: transparent;
		}
		.fa-angle-down {
			display: none;
			@include bp(phone-tablet) {
				width: 100px;
				text-align: right;
				display: block;
			}
		}
	}
	.main-item.first-link > .wp-megamenu-sub-menu {
		opacity: 0.9;
		background-color: #fff;
		@include bp(phone-tablet) {
			background-color: transparent;
		}
	}
	.wpmm-row-content-strees-extra + .wp-megamenu-sub-menu {
		opacity: 0.9;
		background-color: #fff;
		@include bp(phone-tablet) {
			background-color: transparent;
		}
	}
	.wp-megamenu-sub-menu {
		font-family: $prox;
		font-size: 6px;
		font-stretch: normal;
		font-style: normal;
		text-align: left;
		@include bp(phone-tablet) {
			background-color: transparent;
		}
		li a {
			padding: 0px;
		}
	}
	.custom-toggle .fa.fa-angle-down {
		transform: rotate(0deg);
		opacity: 0;
	}
	.custom-toggle > a {
		font-weight: 600;
	}
	.custom-toggle > .wp-megamenu-sub-menu {
		visibility: visible;
		position: relative;
		opacity: 1;
		left: rem(30px);
		background: transparent;
		border: none;
		box-shadow: none;
		padding: 0;
		@include bp(phone-tablet) {
			display: none;
		}
	}
	.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu ul.wp-megamenu-sub-menu li.wpmm-type-widget > a {
		color: #83afba;
		line-height: 2;
		letter-spacing: 0.9px;
		font-weight: bold;
		margin-bottom: 9px;
	}
	ul.wp-megamenu li ul.wp-megamenu-sub-menu .menu-widget-class ul li a {
		line-height: 2.17;
		color: #3b434e;
	}
	#menu-main {
		display: flex;
		justify-content: flex-end;
		margin-left: auto;
		align-items: center;
		max-width: 1000px;
		@include bp(phone-tablet) {
			display: none;
			position: fixed;
			left: 0;
			right: 0;
			width: 100%;
			height: 90vh;
			overflow: scroll;
			margin-top: 0px !important;
			z-index: 10;
			bottom: 0;
			top: $height !important;
			background-color: white;
			flex-direction: column;
			justify-content: center;
		}
	}
	.wpmm-strees-row-and-content-container {
		// top: 50px;b
		// border-top: 1px solid $accent;
		bottom: 0px;
	}
	.wpmm_mobile_menu_btn {
		background-color: transparent;
	}
	.fa-angle-down:before,
	.fa-bars:before {
		font-size: 20px;
	}
	a:hover {
		opacity: 0.5;
	}
	.wp-megamenu-wrap.wpmm-mobile-menu ul.wp-megamenu li {
		@include bp(phone-tablet) {
		}
	}
}
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu li.wpmm_mega_menu .wpmm-strees-row-and-content-container > .wp-megamenu-sub-menu > li {
	padding: 0;
}
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > .wpmm-strees-row-and-content-container ul.wp-megamenu-sub-menu > li.wpmm-row > ul.wp-megamenu-sub-menu {
	max-width: 800px;
	width: 80%;
	justify-self: center;
	margin: auto;
}

.header.inntopia-fragment {
}
